@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
:root {
  --primary: #166ae8;
  /* CSS VARIABLES */
}
body {
  padding: 0;
  margin: 0 20px;
  font-family: 'Quicksand', sans-serif;
  /* font-family: Comic Sans Ms; */
  color: rgb(255, 255, 255);
  background: #1d0d0d;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
 width: 100%; 
 margin: 1% auto;
}

/* navbar */
.navbar {
  margin: 20px auto 40px;
  display: flex;
  align-items: center;
}
.logo-sitename{
   display: flex;
  flex-direction: row;
  width: fit-content;
}
.links{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}
.links p {
  margin-left: 16px;
}
 nav h1 {
  margin-left: 10px;
}
/*
nav ul {
  margin-left: auto;
  list-style-type: none;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-left: 16px;
} */

.links .btn {
  padding: 10px 16px;
  border: 2px solid rgb(188, 167, 253);
  border-radius: 15px;
  font-weight: 600;
  color: rgb(188, 167, 253);
  cursor: pointer;
}
.links .btn:hover {
  color: white;
  background-color: rgb(188, 167, 253);
}
.links p:hover{
  color: rgb(188, 167, 253);
}


/* banner */
.banner{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.banner img {
  border-radius: 6px;
}
/* Footer */
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
  border-top: .9px solid rgb(168 179 207 / 20%);
}
.footer a {
  color: rgb(188, 167, 253);
}


/* sticky */
.sticky{
  color: rgb(188, 167, 253);
  position: sticky;
  top: 0;
  background-color: black;
  width: fit-content;
  height: fit-content;
  padding: 1%;
}


@media only screen and (max-width: 700px) {
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navbar {
    flex-direction: column;
    margin: 10px 1px 20px 1px;
    display: flex;
    align-items: center;
  }
  .logo-sitename{
    display: flex;
   flex-direction: row;
   width: auto;
 }
 .links{
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}
.links p {
  margin-left: 10px;
}
 nav h1 {
  margin-left: 10px;
}
}