/* base styles */
.root {
  --thepurple: rgb(188, 167, 253);
  --thebrown: #1d0d0d;
  /* CSS VARIABLES */
}


.home {
  max-width: 1080px;
  margin: 40px auto;
  letter-spacing: 1px;
  line-height: 1.6em;
}
.headers{
  color: var(--thepurple);
}
.welcome{
  text-align: center;
}